<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Domain Availability Checker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" id="theme-link">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loader.css') }}">
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const toggleSwitch = document.querySelector('.switch input[type="checkbox"]');
            const themeLink = document.getElementById('theme-link');
            const form = document.querySelector('form');
            const loader = document.getElementById('wifi-loader');
            const overlay = document.getElementById('overlay');

            toggleSwitch.addEventListener('change', function() {
                if (toggleSwitch.checked) {
                    themeLink.href = '{{ url_for("static", filename="css/darkmode.css") }}';
                } else {
                    themeLink.href = '{{ url_for("static", filename="css/style.css") }}';
                }
            });

            form.addEventListener('submit', function(event) {
                loader.style.display = 'flex'; // Show loader
                overlay.style.display = 'block'; // Show overlay

                // To prevent the default form submission and manage it with JavaScript
                event.preventDefault();
                
                // Submit the form using Fetch API
                fetch(form.action, {
                    method: 'POST',
                    body: new FormData(form),
                    headers: { 'X-Requested-With': 'XMLHttpRequest' }
                })
                .then(response => response.text())
                .then(html => {
                    // Update the content with the new HTML
                    document.body.innerHTML = html;
                })
                .finally(() => {
                    loader.style.display = 'none'; // Hide loader
                    overlay.style.display = 'none'; // Hide overlay
                });
            });
        });
    </script>
    <style>
        .switch {
            position: absolute;
            top: 10px;
            right: 10px;
        }
    </style>
</head>
<body>
    {% include 'navbar.html' %}

    <div class="container">
        <header class="my-4">
            <h1>DOMAIN AVAILABILITY CHECKER</h1>
        </header>
        <form action="/" method="POST" class="form-container">
            <div class="input-group mb-3">
                <span class="input-group-icon material-icons-outlined">search</span>
                <input type="text" name="domain_name" placeholder="Enter Domain Name" class="form-control" required>
            </div>

            <button type="submit" class="btn btn-success">Check Availability</button>
        </form>

        {% if specific_domain_result %}
        <div class="result mt-4">
            <p>The domain <strong>{{ specific_domain_result['domain'] }}</strong> is 
                <strong>{{ 'available' if specific_domain_result['available'] else 'not available' }}</strong>.
                {% if specific_domain_result['available'] %}
                <i class="fas fa-check" style="color: #4cc89e;"></i>
                {% else %}
                <i class="fas fa-times" style="color: #d76742;"></i>
                {% endif %}
            </p>
            {% if specific_domain_result['available'] %}
            <a href="https://wa.me/9811388848?text=I%20want%20to%20buy%20the%20domain%20{{ specific_domain_result['domain'] }}" class="btn btn-buy">
                <span class="material-icons-outlined">shopping_cart</span> Buy Now
            </a>
            {% endif %}
        </div>
        {% endif %}
        {% if results %}
        <div class="result mt-4">
            <table class="table">
                <thead>
                    <tr>
                        <th>Domain</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for domain, is_available in results.items() %}
                    <tr>
                        <td>{{ domain }}</td>
                        <td>
                            {{ 'Available' if is_available else 'Unavailable' }}
                            {% if is_available %}
                            <i class="fas fa-check" style="color: #4cc89e;"></i>
                            {% else %}
                            <i class="fas fa-times" style="color: #d76742;"></i>
                            {% endif %}
                        </td>
                        <td>
                            {% if is_available %}
                            <a href="https://wa.me/YOUR_PHONE_NUMBER?text=I%20want%20to%20buy%20the%20domain%20{{ domain }}" class="btn btn-buy">
                                <span class="material-icons-outlined">shopping_cart</span> Buy Now
                            </a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
    {% include 'footer.html' %}

</body>
</html>
